<h1>Listing Posts</h1>
<p id="notice"><%= flash[:notice] %></p>

<%= form_tag posts_url, :method => 'get' do%>
  <%= label_tag "SearchText", "Search for" %>
  <%= text_field_tag :search, params[:search]%>
  <%= label_tag "SearchType", "by" %>
  <%= select_tag "name",options_for_select(["category", "content", "title", "username", "tag"])%>
  <% params[:name] = @name %>
  <%= submit_tag "Search", :name => nil %>
<% end %>


<table >
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Tags</th>
    <th>Username</th>
    <th>Votes</th>
    <th>Last Updated</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= Category.find(post.category_id).name %></td>
        <td><%= post.tag %></td>
        <td><%= User.find(post.user_id).username %></td>
        <td><%= @number_of_votes[post] %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to 'Vote', {:controller => "votes", :action => "new", :post_id => post.id} if logged_in? && !is_my_post?(post.user_id) %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) if is_admin? || is_my_post?(post.user_id)%></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if is_admin? || (@current_user && (post.user_id == @current_user.id))%></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path if logged_in? %>
