<!DOCTYPE html>
<html>
<head>
  <title>BackchannelApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Online Backchannel App </h1>
<h2> Welcome <%= @current_user.username if @current_user %>

<%= yield %>

<br>

<br>

    <%= link_to "Make a new Post", new_post_url if @current_user%>
    <%= link_to "Search Posts", posts_url %>
</body>
<p>
  <f1><%= link_to "Home", home_url if !@home %>
    <%= link_to "Profile", @current_user if @current_user %> <%= link_to "Sign up or Login", login_url if !@current_user%> <%= link_to "Log out", logout_url if @current_user%></f1></p>
</html>
