<h1> Home Page </h1>
<p id="notice"><%= flash[:notice] %></p>

<table>
  <td><%= render 'login' if !logged_in?  %></td>
</table>
<p> Search Posts </p>
<%= form_tag posts_url, :method => 'get' do%>
    <%= label_tag "SearchText", "Search for" %>
    <%= text_field_tag :search, params[:search]%>
    <%= label_tag "SearchType", "by" %>
    <%= select_tag "name",options_for_select(["category", "content", "title", "username", "tag"])%>
    <% params[:name] = @name %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<tr><%= link_to "Edit Users", users_url if is_admin? %></tr>
<tr><%= link_to "Edit Categories", categories_url if is_admin? %></tr>





