<h1> Home Page </h1>
<p id="notice"><%= flash[:notice] %></p>

<table>
  <td><%= render 'login' if !logged_in?  %></td>
</table>
<p> Search Posts </p>
<%= form_tag posts_url, :method => 'get' do%>
    <p>
      <%= text_field_tag :search, params[:search]%>
      <%=select(params[:name], :name, ["category", "title", "username", "tag"])%>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<tr><%= link_to "Edit Users", users_url if is_admin? %></tr>
<tr><%= link_to "Edit Categories", categories_url if is_admin? %></tr>





